<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="BetStream"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BetStream"
        tools:targetApi="35">

        <!-- Main / Launcher -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login -->
        <activity
            android:name=".IniciarSesionActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat" />

        <!-- Crear Cuenta -->
        <activity
            android:name=".CreateAccountActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat" />

        <!-- Home -->
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat" />

        <!-- Slots -->
        <activity
            android:name=".SlotsActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat" />

        <!-- Ajustes -->
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat" />

        <!-- Depósito -->
        <activity
            android:name=".DepositarActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat" />

        <!-- Retirada -->
        <activity
            android:name=".RetirarActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat" />

        <!-- BlackjackActivity, sin intent-filter -->
        <activity
            android:name=".BlackjackActivity"
            android:label="blackjack"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat" />


    </application>
</manifest>
